/* Upper Navigation */
.css-1dbjc4n.r-1loqt21.r-136ojw6 {
	zoom: 0.5 !important;	/* Top */
}
.css-1dbjc4n.r-1awozwy.r-my5ep6.r-rull8r.r-qklmqi.r-18u37iz.r-1ninfw3 {
	zoom: 0.3 !important;	/* Second (Tab) */
}

/* Right Column */
.r-1hycxz {
	width: 200px !important;	/* -150px; */
}
.r-1hycxz a,
.r-1hycxz span,
.r-1hycxz div
 {
	font-size: 10px !important;
}

/* Center Column */
.r-1ye8kvj {
	width: 830px !important;	/* +230px; */
	max-width: 830px !important;
}

/* Center + Right Column */
.r-rthrr5 {
	width: 1050px !important;
}

/* Left Column */
header {
	zoom: 0.5 !important;
}

